<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">About Nom</span>
                <h1 class="at-4">Nom Thabethe</h1>
                <p class="p-des at-3 ab-4">As a Software Developer, I am skilled in various programming languages and technologies, including Java, Python, C#, .NET, and front-end development. I have experience in full-stack development, software design, project management, and database programming with SQL. I am passionate about delivering high-quality software solutions. I am constantly seeking new challenges and opportunities to improve my skills and deliver value to clients and end-users. Let's connect and explore how we can collaborate to build innovative software solutions together.

                    Breaking down a problem into small little tasks has always worked for me. </p>
                <a href="#" class="p.readmore">Read More<img src="/assets/img/arrow-right.png" alt="the icon for readmore" width="18px" class="al-2"></a>    
            </div>
        
        </div>
    </div>
</section>
