<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li>
                        <img class="p-cursor"src="assets/img/search.png" alt="search icon" width="20px"/>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
                    </li>
                    <li>
                        <a>About</a>
                    </li>
                    <li>
                        <a>Portfolio</a>
                    </li>
                    <li>
                        <a>Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
